.contact-input-half {
    --gap: 24px;
    width: calc((100% - var(--gap)) / 2);
}

.absolute {
    position: absolute;
}

.deco-shape-1 {
    top: 10%;
    left: -80px;
}

.deco-shape-2 {
    bottom: 10%;
    right: -80px;
}

.deco-shape-3 {
    top: 20%;
    right: -170px;
    width: 140px;
}

.deco-shape-4 {
    top: 5%;
    left: -220px;
}

.deco-shape-5 {
    bottom: 12%;
    right: 24%;
}


.w-48 {
    width: 48px;
}

.w-80 {
    width: 80px;
}

.hero-max-width {
    max-width: 746px;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}


.mw-386 {
    max-width: 386px;
}


.project-content {
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
}


@media (max-width: 992px) {

    .contact-input-half {
        width: 100%;
    }

    .gap-md-12 {
        gap: 12px;
    }

    /* 水平滑動相關設定 (僅限手機版) */
    .overflow-x-md-auto {
        overflow-x: auto;
    }

    .hide-md-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-md-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .flex-md-shrink-0 {
        flex-shrink: 0;
    }

    .deco-shape-1 {
        width: 80px;
        top: 5%;
        left: -20px;
    }

    .deco-shape-2 {
        width: 80px;
        right: -20px;
    }

    .deco-shape-3 {
        /* 原本：right: -170px;
    現在：往左拉回一點，才不會跑到螢幕外 */
        right: -140px;
        width: 100px;
    }

    /* 在手機版強制卡片寬度，才不會被壓縮 */
    .card-mobile-w {
        width: 80%;
        /* 手機版卡片寬度為螢幕的 80% */
    }

    .deco-shape-mobile-text {
        right: 100px;
    }

    /* 解決手機版圖片與文字方塊排版 */
    .project-card {
        /* 上面留空 280px，右下左皆為 16px */
        padding: 280px 16px 16px 16px;
    }

    .project-card img {
        /* 讓圖片變成背景，填滿整張卡片 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        /* 確保不變形 */
        object-fit: cover;
    }

    .project-content {
        /* 取消絕對定位，回到正常的區塊排版，利用外層 padding 推擠 */
        position: relative !important;
        top: auto;
        bottom: auto;
        left: auto;
        transform: none;
        width: 100%;
        max-width: 100%;
        z-index: 1;
        /* 浮在圖片上面 */
    }

    /* 手機版字體設定 (Projects & Blogs) */
    .heading-mobile-xs {
        font-size: 20px;
        font-weight: 700;
    }

    .paragraph-mobile-sm {
        font-size: 14px;
        font-weight: 500;
    }

    .label-mobile-sm {
        font-size: 14px;
        font-weight: 500;
    }
}

/* SUBSCRIPTION 區塊專屬 */
.subscription-bg {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription_bg.png?raw=true');
    background-size: cover;
    background-position: center;
}

.subscription-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 隱藏原生 input outline */
.subscribe-input:focus {
    outline: none;
}

@media (max-width: 992px) {
    .subscription-img {
        position: static;
        height: auto;
    }

    .subscription-img-wrapper {
        margin-left: -12px;
        margin-right: -12px;
        width: calc(100% + 24px) !important;
    }

    .subscription-bg {
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/mobile/subscription_bg.png?raw=true');
    }
}